{% extends 'base.html.twig' %}

{% block title %}Hello PayementController!{% endblock %}

{% block body %}
<div class="containerSuccess">
    <h1>Votre commande a été passer avec succès</h1>
    <figure>
        <img src="{{asset('Img/enseigne.png')}}" alt="">
    </figure>
    <a href="{{path('app_home')}}" class="btnAddPanier">Retour a la Home page</a>
</div>
{% endblock %}